icf
$ Конфигурация задачи empty_18_100
with integr;
  tout    =  5.000E+0000;
  lastparfile    = "";
  step    =  5.000E-0003;
  h       =  1.000E-0003;
  error   =  1.000E-0006;
  error_cgm   =  1.000E-0001;
  method  = parallel_park;
  inverse = true;
  crelaxation_linear=1;
  dx_linear=1E-08;
  eps_linear=1E-08;
  nitermax_linear=20;
  la_must_zero_v=true;
  la_auto_equilibrium=true;
  qr_alg4=false;
  la_break_singular_jm=true;
  psolutionmethod=cgm;
  usethreads=true;
  nthreads=4;
  keep_decomposition=false;
  keep_decomposition_count=100;
  jacobian = true;
  asmmatrix = false;
  info_disabled_frc = true;
  v_kmph=false;
with solvers;
  bdfminstep=1E-10;
  bdfmaxorder=5;
  abmminstep=1E-10;
  abmmaxorder=11;
  const_step=0.001;
  n_step_min_const=10;
  parkpredict=medium;
  error_limit=10.0;
  parkminstep=1E-12;
  parkmaxstep=0.002;
  parkminstepconst=0;
  parkmaxiter=1;
  parkminiter=1;
  parkstartdiscr=2;
  itermult=1;
  pp_stiffness_type=max;
  ppopt_sections= 0 0 0 0 0 0 0 0 0 0;
  ppfrequency=500;
  ppdampingratio=0.5;
with go_assignment;
with graphwindow; 
  caption=Графики; 
  left=493; top=-1; 
  width=529; height=319; 
  minx=-7.81443480309601E-0001; 
  maxx= 8.66430306640218E+0001; 
  miny=-8.28126671948534E+0003; 
  maxy= 5.15474234390765E+0005; 
  filtertype=0; 
  passtype=1; 
  filterorder=12; 
  lowfreq= 0.00000000000000E+0000; 
  highfreq= 1.00000000000000E+0001; 
  fixedvisibleregion=false;
  align=3; dpsize= 5.12000000000000E+0001; 
  abscissa=0;
  legendsize=8;
  axislegendonplot=true;  addlines=true;  showscales=true;
  autostepx=true;  manualstepx= 1.00000000000000E-0001;
  autostepy=true;  manualstepy= 1.00000000000000E-0001;
  autoscalex=false;  manualscalex=0;
  autoscaley=false;  manualscaley=0;
  backcolor=16777215;  fontcolor=16711680;  fontsize=7;
  gridstylesolid=false;
  ofsleft=30;
  ofstop=15;
  ofsright=15;
  ofsbottom=15;
  graphswidth=1;
  selectedwidth=2;
  markselectedvars=true;
  showordinate=false;
  hinteffprecision=8;
  hinteffdigits=4;
  usefilter=false;
  filter_min= 0.00000000000000E+0000;
  filter_max= 1.00000000000000E+0000;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=false;
    with grvar;
      name=N_1;
      comment="Нормальная реакция, точка контакта 1, к.п. 1, левое колесо";
      subs=1; ielem=1;
      type=loco;
      loctypeadv=1;
      loctypeadv=1;
        wset=1; ltype=147; offset=0; 
        wheel=left;
with ogreanimwindow;
  graphicstype=1; 
  left=0; top=0; 
  width=493; height=319; 
  scalev=1;   scalea=10;   scaleang=0.1; 
  scaleom=1;   scalee=10;   scalef=121976;   scalem=30493.9; 
  arrowl=0.2;   arrowr=0.05;   vectorr=0.025; 
  cameraposx=-19.3501; cameraposy=-4.95449; cameraposz=3.14932; 
  camerarotx=0.00339964; cameraroty=-0.0223272; camerarotz=0.150491; camerarotw=0.988353; 
  camerascale=0; 
  align=0;   rotation_style=z;
  axesvisible=false;
  gridtype=0;
  scenegridwidth=3;
  scenegridheight=3;
  scenegridstep=0.5;
  bgcolor=16777215;
  activecameraindex=-1;
  rec_step=0.04;
  rec_filemask="empty_18_100";
  rec_type=1;
  rec_factor=1;
  rec_quality=50;

with end;
